<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="text-center">Get Your <span style="color:#00bbd3;font-weight:300">Free Credit Score</span><br></h1>
      <h2 class="text-center">from <span>TransUnion</span>: No Credit Card Required!</h2>
    </div>
  </div>
  <div class="row sign-up-row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="sign-up-form">
        <legend>Start Here</legend>
        <form (ngSubmit)="submit(form)" #form="ngForm" [formGroup]="formGroup">
          <div class="form-group">
            <label for="firstname" class="visible-xs">First Name:</label>
            <input autofocus="" type="text" id="firstname" formControlName="firstname" class="form-control"
                   placeholder="First Name" [class.error]="f.firstname.errors && submitted">
          </div>
          <div class="form-group">
            <label for="lastname" class="visible-xs">Last Name:</label>
            <input type="text" id="lastname" name="lastname" formControlName="lastname" class="form-control" placeholder="Last Name"  [class.error]="f.lastname.errors && submitted">
          </div>
          <div class="form-group">
            <label for="email" class="visible-xs">Email:</label>
            <input type="text" id="email" name="email" formControlName="email" class="form-control" placeholder="Email" [class.error]="f.email.errors && submitted">
          </div>
          <div class="form-group">
            <label for="zip" class="visible-xs">Zip Code:</label>
            <input type="text" id="zip" name="zip" formControlName="zip" class="form-control" placeholder="Zip Code" [class.error]="f.zip.errors && submitted">
          </div>
          <div class="form-group">
            <button class="scores" type="submit">Your Score - Now</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

