<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 logo"><img _ngcontent-c0="" alt=""
                                                                                  class="img-responsive logo"
                                                                                  src="assets/cfs-landing_files/0_3323_ChFS_S.gif">
      </div>
      <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-4 trans-union">
        <img alt="" src="assets/cfs-landing_files/tui-logo.png">
      </div>
    </div>
  </div>
</div>
